.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-SRhslmuM1QKW);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-RPKPQbW9vMet);
  font-family: var(--token-erKa_vkFwgRl);
  font-size: var(--token-ZRrOjOg-wrHx);
  line-height: var(--token-iEoc5DzXd_mU);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-1lTPe65EZm9z);
  padding: 0rem;
  border: 0px solid #931f1f;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-aDXFMIEAf7yi);
  outline-offset: 1px;
  outline-color: var(--token-SRhslmuM1QKW);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-h0MTauExpEni);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-jfRizfGAwJeP);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-Zbb3PGeKXVlu);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token--Li8Vtb1razD);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-SfxcaQ9lkwyT);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-hExqKAQ9Q-ao);
  font-size: var(--token-le8YBoJoGehI);
  column-gap: var(--token-aDXFMIEAf7yi);
  row-gap: 0px;
  border-radius: var(--token-fMUFmxxfCuyV);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-le8YBoJoGehI);
  line-height: var(--token-hExqKAQ9Q-ao);
  column-gap: var(--token-fMUFmxxfCuyV);
  row-gap: 0px;
  border-radius: var(--token-fMUFmxxfCuyV);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-Iiw3IHFeBn0T);
  line-height: var(--token-_e4iu2OGrwz7);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-Iiw3IHFeBn0T);
  line-height: var(--token-_e4iu2OGrwz7);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-OahDX3nOC1H-);
  border-radius: var(--token-1lTPe65EZm9z);
}
.softBackgroundcolor_neutral {
  background: var(--token-NV8KIQnNDq5A);
}
.softBackgroundcolor_muted {
  background: var(--token-QIw2JLxYtDT4);
}
.softBackgroundcolor_success {
  background: var(--token-m6T4Ey9k54kc);
}
.softBackgroundcolor_warning {
  background: var(--token-dkLd_SKF4UBR);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-GHdsQ2A00R7g);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-1lTPe65EZm9z);
  border: 0px solid var(--token-YtGHkwdru9r1);
}
.bordercolor_neutral {
  border-color: var(--token-KIvOlxv-DjpG);
}
.bordercolor_muted {
  border-color: var(--token-b-sf2KeZRRP-);
}
.bordercolor_success {
  border-color: var(--token-qQh1-8cDlkwi);
}
.bordercolor_warning {
  border-color: var(--token-uN6Q6v9rF3RJ);
}
.bordercolor_errorDestructive {
  border-color: var(--token-c8FP-OhotFsJ);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-1lTPe65EZm9z);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-0iSbxU44j62V);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-7heZPvkifNMD);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-tRPD7eUrnrJX);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__g0BeC {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-1lTPe65EZm9z);
  min-width: 0;
  min-height: 0;
  padding: var(--token-1lTPe65EZm9z) var(--token-eZBw4UGcPNHr);
}
.freeBoxsize_extraSmall__g0BeCDih1P {
  padding: var(--token-fMUFmxxfCuyV) var(--token-1lTPe65EZm9z);
}
.freeBoxsize_small__g0BeCdY0Us {
  padding: var(--token-1lTPe65EZm9z) var(--token-RPKPQbW9vMet);
}
.freeBoxsize_large__g0BeCw4RKn {
  padding-top: var(--token-fMUFmxxfCuyV);
  padding-bottom: var(--token-fMUFmxxfCuyV);
}
.freeBoxsize_extraLarge__g0BeCub5MV {
  padding-left: var(--token-QKwKEs91RGjA);
  padding-right: var(--token-QKwKEs91RGjA);
}
.freeBoxroundedFull__g0BeC4M1C {
  padding-right: var(--token-QKwKEs91RGjA);
  padding-left: var(--token-QKwKEs91RGjA);
}
.freeBox___7QPnx {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart___7QPnx6B6ZN {
  display: flex;
}
.slotTargetStart {
  color: var(--token-T5bnEecmEvHt);
}
.slotTargetStartcolor_neutral {
  color: var(--token-ADZngCcE1Wy3);
}
.slotTargetStartcolor_muted {
  color: var(--token-Gql56tGT0Qn5);
}
.slotTargetStartcolor_success {
  color: var(--token-hdrjBX9HItFP);
}
.slotTargetStartcolor_warning {
  color: var(--token-K9fNr_MnqgJz);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-jyIf2OoG2hCD);
}
.slotTargetStarttype_soft {
  color: var(--token-QW4okgyoEKou);
}
.slotTargetStarttype_bordered {
  color: var(--token-QW4okgyoEKou);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-le8YBoJoGehI);
}
.slotTargetStartsize_small {
  font-size: var(--token-le8YBoJoGehI);
}
.slotTargetStartsize_large {
  font-size: var(--token-Iiw3IHFeBn0T);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-Iiw3IHFeBn0T);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-U9sWThCVISqI);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-U9sWThCVISqI);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-U4pMwPzZHeyI);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-U4pMwPzZHeyI);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-5YI6cqXNrQpW);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-5YI6cqXNrQpW);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-zm020UKAiU9H);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-zm020UKAiU9H);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-F47MsCHO4rwD);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-F47MsCHO4rwD);
}
.svg___91GlN {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-T5bnEecmEvHt);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-ADZngCcE1Wy3);
}
.slotTargetLabelcolor_muted {
  color: var(--token-Gql56tGT0Qn5);
}
.slotTargetLabelcolor_success {
  color: var(--token-hdrjBX9HItFP);
}
.slotTargetLabelcolor_warning {
  color: var(--token-K9fNr_MnqgJz);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-jyIf2OoG2hCD);
}
.slotTargetLabeltype_soft {
  color: var(--token-QW4okgyoEKou);
}
.slotTargetLabeltype_bordered {
  color: var(--token-QW4okgyoEKou);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-U9sWThCVISqI);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-U4pMwPzZHeyI);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-U9sWThCVISqI);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-5YI6cqXNrQpW);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-U4pMwPzZHeyI);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-zm020UKAiU9H);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-5YI6cqXNrQpW);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-F47MsCHO4rwD);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-zm020UKAiU9H);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-F47MsCHO4rwD);
}
.text__scCE {
  white-space: pre;
}
.freeBox__c8Tk7 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__c8Tk7V6GaU {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-T5bnEecmEvHt);
}
.slotTargetEndcolor_neutral {
  color: var(--token-ADZngCcE1Wy3);
}
.slotTargetEndcolor_muted {
  color: var(--token-Gql56tGT0Qn5);
}
.slotTargetEndcolor_success {
  color: var(--token-hdrjBX9HItFP);
}
.slotTargetEndcolor_warning {
  color: var(--token-K9fNr_MnqgJz);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-jyIf2OoG2hCD);
}
.slotTargetEndtype_soft {
  color: var(--token-QW4okgyoEKou);
}
.slotTargetEndtype_bordered {
  color: var(--token-QW4okgyoEKou);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-le8YBoJoGehI);
}
.slotTargetEndsize_small {
  font-size: var(--token-le8YBoJoGehI);
}
.slotTargetEndsize_large {
  font-size: var(--token-Iiw3IHFeBn0T);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-Iiw3IHFeBn0T);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-U9sWThCVISqI);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-U9sWThCVISqI);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-U4pMwPzZHeyI);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-U4pMwPzZHeyI);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-5YI6cqXNrQpW);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-5YI6cqXNrQpW);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-zm020UKAiU9H);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-zm020UKAiU9H);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-F47MsCHO4rwD);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-F47MsCHO4rwD);
}
.svg__dzmli {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
