.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-fMUFmxxfCuyV);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__cBH7 {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-fMUFmxxfCuyV);
}
.radio__j1Fjk:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__zm81Q:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__jhERx:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
