.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  transition-property: all;
  transition-duration: 1s;
  transform: translateX(-100%) translateY(0px) translateZ(0px);
  min-width: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.rootopen {
  transform: translateX(0%) translateY(0px) translateZ(0px);
}
.rootclose {
  transform: translateX(-100%) translateY(0px) translateZ(0px);
}
.text__aUbKg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__nxsWl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
