.root:global(.__wab_instance) {
  object-fit: cover;
  box-sizing: border-box;
  color: var(--token-D9Hhu15jvm1F);
  font-family: var(--token-erKa_vkFwgRl);
  font-size: var(--token-ZRrOjOg-wrHx);
  line-height: var(--token-iEoc5DzXd_mU);
  position: relative;
}
.freeBox {
  position: relative;
  display: flex;
}
