.ariaSwitch:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  display: flex;
  box-sizing: border-box;
  color: var(--token-VyPip4P4GJOn);
  font-family: var(--token-erKa_vkFwgRl);
  font-size: var(--token-ZRrOjOg-wrHx);
  line-height: var(--token-iEoc5DzXd_mU);
  width: 100%;
  flex-direction: column;
  row-gap: var(--token-fMUFmxxfCuyV);
  min-width: 0;
}
.ariaSwitch[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.ariaSwitch[data-readonly]:global(.__wab_instance) {
  pointer-events: none;
  cursor: default;
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: var(--token-RPKPQbW9vMet);
}
.switchIndicator {
  height: auto;
  width: var(--token-kJl8CdRunO3p);
  display: flex;
  background: var(--token-NV8KIQnNDq5A);
  cursor: pointer;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 99px;
  padding: var(--token-aDXFMIEAf7yi);
}
.ariaSwitch[data-selected] .switchIndicator {
  background: var(--token-SRhslmuM1QKW);
}
.ariaSwitch[data-focus-visible] .switchIndicator {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-SRhslmuM1QKW);
  outline-offset: 1px;
}
.ariaSwitch[data-disabled] .switchIndicator {
  cursor: not-allowed;
}
.thumb {
  display: flex;
  position: relative;
  width: var(--token-ha3M1O_riqmy);
  background: var(--token-FGYTsG5-ZMI5);
  height: var(--token-ha3M1O_riqmy);
  flex-direction: row;
  transition-property: all;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  box-shadow: 0px 0px 3px 0px #00000040;
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.1s;
  border-radius: 99px;
}
.ariaSwitch[data-selected] .thumb {
  transform: translateX(12px) translateY(0px) translateZ(0px);
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
