.item {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 0px;
}
.text__dniEc {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #6c757d;
  line-height: 22.4px;
  margin-bottom: 5px;
}
.text__vOu4 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
}
